---
import Layout from '@/layouts/Layout.astro';
import IconByName from '@/modules/common/components/IconByName';
import { Check } from 'lucide-astro';
import { Button } from '@/components/ui/button';
import Typography from '@/modules/common/components/Typography.astro';
import { Input } from '@/components/ui/input';
import { useTranslations, getLangFromUrl } from '@/i18n/utils';
import Column from '@/modules/common/components/Column.astro';

const lang = getLangFromUrl(Astro.url);
const { common: TCommon } = useTranslations(lang);
const { components: TComponents } = TCommon;
---

<Layout title="Docs" description="Blog CISC">
    <main class="flex justify-center gap-10">
        <div
            class="grid gap-5 border-b-4 border-r-4 border-black/10 bg-white p-10"
        >
            <Typography variant="luckie" as="h1" color="primary"
                >{TComponents.fontsStyles}
            </Typography>

            <Typography variant="inter" as="h2" color="dark"> CISC </Typography>

            <Typography variant="inter" as="h3" color="dark"> CISC </Typography>

            <Typography variant="inter" as="h4" color="dark"> CISC </Typography>

            <Typography variant="inter" as="h5" color="dark"> CISC </Typography>

            <Typography variant="love" as="h1" color="primary">
                CISC
            </Typography>

            <Typography variant="love" as="h2" color="dark"> CISC </Typography>

            <Typography variant="love" as="h3" color="dark"> CISC </Typography>

            <section
                class="flex flex-col gap-10 border-4 border-black/10 bg-white p-10"
            >
                <Typography
                    variant="love"
                    as="h2"
                    color="dark"
                    class="uppercase"
                    >{TComponents.column}
                </Typography>

                <aside class="grid grid-flow-col gap-5">
                    <Column class="border-2 border-black p-2"
                        >{TComponents.messageColumn}</Column
                    >
                    <Column class="border-2 border-black p-2"
                        >{TComponents.messageColumn}</Column
                    >
                </aside>
            </section>
        </div>
        <div
            class="grid gap-5 border-l-4 border-t-4 border-black/10 bg-white p-10"
        >
            <section class="grid gap-10">
                <Typography
                    variant="love"
                    as="h2"
                    color="dark"
                    class="uppercase"
                    >{TComponents.buttonsStyles}
                </Typography>

                <Button className="flex gap-2" variant="default">
                    <IconByName name="BetweenVerticalStart" size={20} />
                    <span>{TComponents.primary}</span>
                </Button>

                <Button className="flex gap-2" variant="light">
                    <Check size={20} />
                    <span>{TComponents.light}</span>
                </Button>

                <Button className="flex gap-2" variant="secondary">
                    <IconByName name="Youtube" size={20} />
                    <span>{TComponents.secondary}</span>
                </Button>

                <Button className="flex gap-2" variant="dark">
                    <IconByName name="AlarmClock" size={20} />
                    <span>{TComponents.dark}</span>
                </Button>

                <Button className="flex gap-2" variant="outline">
                    <IconByName name="ZoomOut" size={20} />
                    <span>{TComponents.outline}</span>
                </Button>
            </section>
            <section class="grid gap-5 border-4 border-black/10 bg-white p-10">
                <Typography
                    variant="love"
                    as="h2"
                    color="dark"
                    class="uppercase"
                    >{TComponents.inputStyles}
                </Typography>
                <Input
                    className="sm:w-52"
                    placeholder={TComponents.exampleInput}
                    type="email"
                />
            </section>
        </div>
    </main>
</Layout>
